* {
    /* border: 1px solid black; */
    text-align: center;
    padding: 1rem;
    margin: 0;
}

header {
    width: 100%;
    background-color: rgb(82, 82, 228);
}

body{
    padding: 0;
}
html{
    padding: 0;
}

main{
    padding: 10rem;
    padding-top: 1rem;
}

#books {
    /* border: 1px  rgba(0, 0, 0, 0.714);
    margin: 20px;
    padding: 0px;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431); */
    display: grid;
    grid-template-columns: 50% 50%;
}
#book{
    border: 1px  rgba(0, 0, 0, 0.714);
    margin: 20px;
    padding: 0px;
    box-shadow: 3px 3px 3px 3px rgba(201, 199, 199, 0.431);
}
input {
    padding: 8px;
    margin-left: 15px;
}

/* fanny around wwith media queries */